@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake;
}

@theme {
  --color-bar: #f7f3ed;
  --color-tool-bar: rgb(241, 235, 225, 0.5);
  --color-fantasy-50: rgb(247, 243, 237, 0.5);
  --color-primary-bg: #e1dbd3;
  --color-secondary-bg: #d9d9d9;
  --color-mocha: rgb(66, 43, 35, 0.8);
  --color-mocha-30: rgb(66, 43, 35, 0.1);
  --color-mocha-50: rgb(66, 43, 35, 0.5);
  --color-light-pink: #dd88b4;
  --color-text-primary: #5b5252;
  --color-sky-mist-20: rgb(117, 136, 156, 0.2);
  --color-sky-mist-50: rgb(117, 136, 156, 0.5);
  --color-sky-mist-100: rgb(117, 136, 156);
  --color-text-secondary: #605959;
  --color-alert: #6d120b;
  --color-alert-10: rgb(109, 18, 11, 0.1);
  --color-almond: #baa49f;
  --color-almond-40: rgb(186, 164, 159, 0.4);
  --font-vietnam: "Be Vietnam Pro", sans-serif;
  --shadow-bold: 0 6px 10px rgba(0, 0, 0, 0.3);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* 🌀 Add custom animation utilities */
@layer utilities {
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    20% {
      opacity: 0.25;
      transform: translateY(-8px);
    }
    40% {
      opacity: 0.5;
      transform: translateY(-6px);
    }
    60% {
      opacity: 0.75;
      transform: translateY(-4px);
    }
    80% {
      opacity: 0.75;
      transform: translateY(-2px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 1s ease-out forwards;
  }

  @keyframes fade-right {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    20% {
      opacity: 0.25;
      transform: translateX(-8px);
    }
    40% {
      opacity: 0.5;
      transform: translateX(-6px);
    }
    60% {
      opacity: 0.75;
      transform: translateX(-4px);
    }
    80% {
      opacity: 0.75;
      transform: translateX(-2px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-fade-right {
    animation: fade-right 0.6s ease-out forwards;
  }

  .animate-fade-right-fast {
    animation: fade-right 0.3s ease-out forwards;
  }
}

html {
  font-family: var(--font-vietnam);
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: var(--text-primary);
}
